.modal {
    overflow: hidden;
}

.modal-content {
    max-height: 600px;
}

.modal-body {
    overflow-y: scroll;
}

.modal-body::-webkit-scrollbar {
    width: 12px;
}

.modal-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.modal-body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.modal-footer {
    justify-content: flex-start;
}

.btnSend {
    height: 38px;
}

.btnSendCol {
    display: flex;
    justify-content: flex-end;
    padding-left: 90px
}

.bot-message {
    margin-bottom: 25px;
}

.right {
    display: flex;
    justify-content: flex-end;

    .bot-message {
        background-color: rgb(136, 45, 129);
        max-width: 90%;
        color: white;
        min-width: 30%;
        border-radius: 5px;
        display: flex;
        justify-content: flex-end;
    }
}

.bot-message {
    background-color: rgb(10, 95, 10);
    color: white;
    border-radius: 5px;
    min-width: 30%;
    max-width: 90%;
    padding: 2%;
}

.messageInput {
    display: flex;
    flex-direction: row;
}