.gameBoard {
  background-color: #c5b7a9;
  padding: 28%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(231, 26, 26, 0.1);
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 10vw;
  background-color: #d4cec7;
  font-size: 24px;
  font-weight: bold;
  border-radius: 0.5vw;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.newGameBtn {
  margin-right: 15px;
  width: 13%;
  /* background-color: palevioletred;
  border-color: #FFFFFF; */
}

.resetBtn {
  width: 13%;
  /* background-color: brown;
  border-color: #FFFFFF; */
}

.tile-2 {
  background-color: #e096cf;
  color: #776e65;
}

.tile-4 {
  background-color: #959fbb;
  color: #776e65;
}

.tile-8 {
  background-color: #d1aa97;
  color: white;
}

.tile-16 {
  background-color: #94d28d;
  color: white;
}

.tile-32 {
  background-color: #974a51;
  color: white;
}

.tile-64 {
  background-color: #b6b87f;
  color: white;
}

.tile-128 {
  background-color: #8aebe3;
  color: white;
}

.tile-256 {
  background-color: #959234;
  color: white;
}

.tile-512 {
  background-color: #392c60;
  color: white;
}

.tile-1024 {
  background-color: #4a1c0a;
  color: white;
}

.tile-2048 {
  background-color: #064640;
  color: white;
}



@media screen and (min-width:920px) {
  .gameBoard {
    padding: 2% 2% 2% 2%;
    margin-left: 460px;
    margin-top: 50px;
    width: 360px
  }

  .cell {
    width: 19vw;
    height: 5vw;
  }
}